/*
Paula López Solla
Arturo Gómez Izquierdo
*/
.noticia .titulo + p {
    font-weight: bold;
}

a:link { color: blue; }
a:hover { color: red; } 
a:focus {
    color: red;
    outline: 3px solid orange;
    outline-offset: 3px;
    background-color: #fff7e6;
}

h1::before {
    content: "★ ";
    color: gold;
}

h1::after {
    content: " ★";
    color: gold;
}

.titulo::before {
    content: "📰 ";
}

p::first-letter {
    font-size: 2em;
    font-weight: bold;
    color: darkred;
}

::selection {
 background-color: navy;
 color: white;
}

.noticia:nth-child(even) {
    background-color: rgb(176, 199, 228);
}

.noticia:nth-child(odd) {
    background-color: rgb(136, 171, 230);
}

/* 
 • ¿Qué sucede si el icono decorativo aporta información importante y no solo estética? 
Que debería estar en el archivo html con un atributo alt.

 • ¿Cómo ayudas a los usuarios que navegan con teclado a saber en qué enlace están? 
Añadiendo en el html el atributo alt con la información de dicho enlace o destacando el enlace con teclado.

 • ¿Qué problema existe si el único criterio para diferenciar noticias o enlaces es el color?  
No sería legible para las personas daltónicas, por lo tanto no es accesible. */
