<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
 <h1 class="text-center mb-5">Panel de Administración</h1>

    <div class="row text-center">
      <div class="col-md-3 panel-col">
        <a href="/vehiculos" class="panel-btn">
          <i class="bi bi-car-front-fill"></i>
          <span>Vehículos</span>
        </a>
      </div>
      <div class="col-md-3 panel-col">
        <a href="/concesionarios" class="panel-btn">
          <i class="bi bi-building"></i>
          <span>Concesionarios</span>
        </a>
      </div>
      <div class="col-md-3 panel-col">
        <a href="/usuarios" class="panel-btn">
          <i class="bi bi-people-fill"></i>
          <span>Usuarios</span>
        </a>
      </div>
      <div class="col-md-3 panel-col">
        <a href="/reserva/listareservas" class="panel-btn">
          <i class="bi bi-card-checklist"></i>
          <span>Reservas</span>
        </a>
      </div>
    </div>