
<div class="d-flex justify-content-between align-items-center mb-5">
    <h1 class="text-center m-0">Panel de Administración</h1>
    
    <button class="btn btn-warning shadow-sm" data-bs-toggle="modal" data-bs-target="#modalImportacion">
        <img src="/bootstrap-icons-1.13.1/cloud-upload-fill.svg" class="bi-svg" alt="">
        <span>Cargar JSON</span>
    </button>
</div>

<div class="row text-center">
    <div class="col-md-3 panel-col">
        <a href="/vehiculos" class="panel-btn">
            <img src="/bootstrap-icons-1.13.1/car-front-fill.svg" class="bi-svg" alt="">
            <span>Vehículos</span>
        </a>
    </div>
    <div class="col-md-3 panel-col">
        <a href="/concesionarios" class="panel-btn">
            <img src="/bootstrap-icons-1.13.1/building.svg" class="bi-svg" alt="">
            <span>Concesionarios</span>
        </a>
    </div>
    <div class="col-md-3 panel-col">
        <a href="/usuarios" class="panel-btn">
            <img src="/bootstrap-icons-1.13.1/people-fill.svg" class="bi-svg" alt="">
            <span>Usuarios</span>
        </a>
    </div>
    <div class="col-md-3 panel-col">
        <a href="/reserva/listareservas" class="panel-btn">
            <img src="/bootstrap-icons-1.13.1/card-checklist.svg" class="bi-svg" alt="">
            <span>Reservas</span>
        </a>
    </div>
</div>
