<div class="contacto-content">
    <form id="contactoForm" action="/contacto" method="POST" lang="es" class="lang lang-es" novalidate>
        <fieldset>
            <legend class="w-auto">Contacto</legend><br>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required><br><br>
            
            <label>Mensaje:</label><br><br>
            <textarea name="comentario" placeholder="Escribe tu mensaje..." rows="6" cols="50"></textarea><br><br>
        </fieldset>
    </form>

    <form id="contactoFormEn" lang="en" class="lang lang-en d-none" novalidate>
        <fieldset>
        <legend class="w-auto">Contact</legend><br>

        <label for="nombre">Name:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="email" >E-mail:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label>Message:</label><br><br>
        <textarea name="comentario" placeholder="Escribe tu mensaje..." rows="6" cols="50"></textarea><br><br>
        </fieldset>
    </form>
</div>