<footer>
    <p lang="es" class="lang lang-es">Precios desde 30.000 &euro; &nbsp; | &copy; 2025 </p>
    <p lang="en" class="lang lang-en d-none">Prices from €30,000 &nbsp; | &copy; 2025</p>
</footer>