html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.grid {
    display: grid;
    grid-template-areas:
        "header header header header"
        "barra barra barra barra"
        "articulo1 articulo1 articulo1 opciones"
        "articulo2 articulo2 articulo2 opciones"
        "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 3fr 3fr 1fr;
    gap: 5px;
    height: 100vh;

}

.header {
    grid-area: header;
    background: #1E3A8A;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "logo titulo titulo titulo titulo titulo";
    gap: 1rem;
    padding: 1rem;
}

.principal {
    display: none;
}

.logo {
    background: #00796B;
    color: #fff;
    grid-area: logo;
    font-size: 2rem;

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    background: #00796B;
    color: #fff;
    grid-area: titulo;
    font-size: 4rem;

    padding: 1rem;
    display: flex;
    align-items: center;
}

.barra {
    grid-area: barra;
    background: #FFC107;
    color: #111111;
    font-size: 2rem;

    padding: 5px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "texto texto texto identificacion";
}

.barra-texto {
    grid-area: texto;

    padding: 1rem;
    display: flex;
    align-items: center;
}

.identificacion {
    grid-area: identificacion;
    background: #d0cfcf;
    color: #111111;
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    /*Esto es para que no quede tan pegado a la derecha ni coincida con la linea del resto de la pantalla*/
    width: 90%;
    margin: 0 auto;
}

.opciones {
    grid-area: opciones;
    background: #1E3A8A;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "busqueda" "noticias" "noticias";
    gap: 1rem;
}

.opt {
    display: none;
}

.busqueda {
    grid-area: busqueda;
    background: #00796B;
    color: #ffffff;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.noticias {
    grid-area: noticias;
    background: #00796B;
    color: #ffffff;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.articulo1 {
    grid-area: articulo1;
    background: #f8e8b6;
    color: #111111;
    font-size: 4rem;

    text-align: center;
    padding: 1rem;
}

.articulo2 {
    grid-area: articulo2;
    background: #f8e8b6;
    color: #111111;
    font-size: 4rem;

    text-align: center;
    padding: 1rem;
}

.footer {
    grid-area: footer;
    background: #C84700;
    color: #fff;
    font-size: 2rem;

    display: grid;
    place-items: center;
    padding: 1rem;
}

.contenido {
    display: none;
}