html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

.grid {
    display: grid;
    grid-template-areas:
        "header header header header"
        "barra barra barra barra"
        "opciones contenido contenido contenido"
        "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 6fr 1fr;
    gap: 5px;
    height: 100vh;

}

.header {
    grid-area: header;
    background: #00796B;
    color: #fff;
    font-size: 4rem;

    display: grid;
    place-items: center;
    padding: 1rem;
}

.logo {
    display: none;
}

.titulo {
    display: none;
}

.barra {
    grid-area: barra;
    background: #FFC107;
    color: #111111;
    font-size: 2rem;

    padding: 1rem;
}

.identificacion {
    display: none;
}

.opciones {
    grid-area: opciones;
    background: #00796B;
    color: #ffffff;
    font-size: 2rem;

    text-align: center;
    padding: 1rem;
}

.busqueda {
    display: none;
}

.noticias {
    display: none;
}

.contenido {
    grid-area: contenido;
    background: #f8e8b6;
    color: #111111;
    font-size: 2rem;

    display: grid;
    text-align: center;
    padding: 1rem;
}

.footer {
    grid-area: footer;
    background: #C84700;
    color: #fff;
    font-size: 2rem;

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articulo1 {
    display: none;
}

.articulo2 {
    display: none;
}